fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
python-dotenv
python-jose
pwdlib[argon2]
pydantic[email]
pandas
scikit-learn==1.7.2
joblib
scipy
numpy
python-multipart
pytesseract
opencv-python-headless
Pillow